/* Evitar caracteres estranhos no arquivo ao abrir */
@charset "utf8";

body{
margin-top: 40px;
padding-top:40px;
}

/* Ao usar ponto(.) você estar´determinando uma classe no CSS. */
.fundofixo{
    /* Chamando a imagem armazenada. */
    background: url('../images/Churrasco.jpg') no-repeat fixed; /*no-repeat -> Para não repetir a imagem na página.*/ /*fixed -> Serve para fixar a imagem na página.*/
    -webkit-background-size: cover;
    background-size: cover;
}